form {
    
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;

}

.navbar-category-item {
	font-size: 1.1rem;
}

.inscript{

color: blue;
background: none;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
text-decoration: underline;

}