.event-card-img {
	width: 200px;
	height: 200px;
	object-fit: cover;
    width: 100%;

}
.event-card-container {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.event-card-maxwidth {
	max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


}
